$accent: #cff47f;
$defoult: #220e5b;
// $title: #29282d;
// $bg: #f6f6f6;
// $border: #ececec;

%roboto-400 {
  font-family: "Roboto-Regular";
  font-weight: 400;
}

%roboto-800 {
  font-family: "Roboto-Black";
  font-weight: 800;
}

%roboto-600 {
  font-family: "Roboto-Bold";
  font-weight: 600;
}

%roboto-300 {
  font-family: "Roboto-Medium", sans-serif;
  font-weight: 300;
}

%roboto-200 {
  font-family: "Roboto-Light", sans-serif;
  font-weight: 200;
}

// %btn{
//     cursor: pointer;
//     padding: 12px 36px;
//     width: fit-content;
//     text-transform: uppercase;
//     color: #ffffff;
//     @extend %roboto-400;
//     background-color: $accent;
//     border: 1px solid transparent;
//     box-shadow: 7px 7px 20px #fe3e575e;
//     &:hover {
//             background-color: #ff0021;
//             border: 1px solid #ffffff;
//         }
// }

// @function max($numbers...) {
//     @return m#{a}x(#{$numbers});
// }
// @function min($numbers...) {
//     @return m#{i}n(#{$numbers});
// }
